<footer class="text-center text-white fixed-bottom">
  </div>
  <div class="text-center p-3">
    © 2021-2023 Copyright:
    <a class="text-white" href="https://akif9748.github.io/">Akif9748</a>,
    <a class="text-white" href="https://github.com/neganor">Neganor</a>,
    <a class="text-white" href="/tesekkur">&lt;3</a>
  </div>
</footer>